<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="assets/css/footer.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>About us</h5>
					<ul class="" style="color:white;">
						Semi Company is a leading toy company with many years of experience in the toy industry. We are proud to be a manufacturer and distributor of high quality, diverse and safe toy products for children. We are committed to providing our customers with memorable experiences and true value through unique toy products. Creativity and sophisticated design are at the heart of each of our products. With the goal of helping children develop thinking, discovery and creativity, we constantly update toy products. We always put quality first, ensuring that each of our toys brings joy and supports children's development.
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Of interest</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="{{path('app_home')}}"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="{{path('app_product')}}"><i class="fa fa-angle-double-right"></i>Products</a></li>
						<li><a href="{{path('app_about')}}"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="{{path('app_contact')}}"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
						<li><a href="https://www.freeprivacypolicy.com/live/79ca156c-5de1-4bc6-8e67-45cd62f7129e"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Other contact information</h5>
					<ul class="list-unstyled quick-links" style="color: white;">
						<li><i>didmxbc00058@fpt.edu.vn| +070 2845 756</i></li>
						<li><i></i>phuonghtnbc00052@fpt.edu.vn| +091 6198 548</i></li>
						<li><i></i>kietnvbc00049| +036 5338 322</i></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/xuandi03"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href=" "><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="mailto:didmxbc00058@fpt.edu.vn" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6" style="font-size:2.5rem; color:orange";> BTEC FPT Can Tho</p>
				</div>
                <hr>
			</div>	
		</div>
	</section>